<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHocBD2mxDCpQHTTYuM6tHI1nrnPSWkQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>935787381560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.despesas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>despesas-eu-deborah</string>
	<key>STORAGE_BUCKET</key>
	<string>despesas-eu-deborah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935787381560:ios:f8902e84c557d12d05f7cd</string>
</dict>
</plist>